html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif
}

a {
    text-decoration: none;
    color: #FF6600;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.1rem;
    line-height: 1.4;
    color: #333;
}

.container {
    max-width: 760px;
    margin: 0 auto 0 auto;
}

.header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.header-container div:nth-child(2) {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

.lista-formacao {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.1rem;
}

.lista-formacao dt {
    padding: 0 10px;
    font-weight: bold;
}

.lista-formacao dd {
    margin: 0;
}

.lista-formacao dd a {
    padding: 5px;
}

.lista-formacao dd a:hover,
.nav-sections a:hover { text-decoration: underline }

.pesquisa {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.pesquisa label img {
    padding-right: 10px;
}

.pesquisa input {
    height: 13px;
}

.pesquisa button {
    border: 1px solid #666666;
    font-size: 1.1rem;
    font-weight: bold;
    color: #666666;
}


/*-----------------------------------------------------------------------------------*/
/*--------------------------------------- NAV ---------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.nav-bar {
    background-color: rgb(51, 51, 51);
}

.nav-sections {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 0;
    padding: 0;
}

.nav-sections li {
    padding: 13px;
}

.nav-sections li:first-child {
    margin-right: 150px;
}

.nav-sections a {
    font-size: 1.1rem;
}


/*-----------------------------------------------------------------------------------*/
/*--------------------------------------- MAIN --------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.main-container {
    display: flex;
    flex-flow: row wrap;
    padding: 15px 10px 30px 10px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    flex: 1 73%;
}

.cursos {
    flex: 1 21%;
    padding-left: 20px;
}

.lista-cursos li {
    display: flex;
    padding: 2px;
    border: 1px inset #fff;
    background-color: rgb(51, 51, 51);
    cursor: pointer;
}

.lista-cursos li:hover {
    background-color: rgb(102, 102, 102);
}

.lista-cursos li a {
    align-self: center;
    padding-left: 5px;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
}

.link-catalogo,
.horarios {
    margin-top: 20px;
}

.link-catalogo,
.horarios {
    border: 1px solid #000;
}

.link-catalogo h1,
.horarios h2 {
    padding: 4px;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FF6600;
    color: #fff;
}

.link-catalogo p {
    padding: 5px;
}

.horarios dl {
    padding: 6px;
    line-height: 1.5;
}
